<zensoft>
  <!--Article-->
  <maxSizeUploadFile>200000</maxSizeUploadFile>
  <maxSizeUploadPerActicle>2000000</maxSizeUploadPerActicle>
  <allowExtension>^.jpg|.gif|.png|.jpeg|.bmp|.swf|.fla|.psd|.rar|.zip$</allowExtension>
  <redirectDomain>1</redirectDomain>
  <TempImagesFolder>~/Images/Temp</TempImagesFolder>
  <!--true, fale -->
  <ArticleImagePreviewCrop>true</ArticleImagePreviewCrop>
  <!--width, height, both-->
  <ArticleImagePreviewResize>height</ArticleImagePreviewResize>
  <ArticleImagePreviewMaxWidth>250</ArticleImagePreviewMaxWidth>
  <ArticleImagePreviewMaxHeight>200</ArticleImagePreviewMaxHeight>
  <!--true, fale -->
  <ItemImagePreviewCrop>true</ItemImagePreviewCrop>
  <!--width, height, both-->
  <ItemImagePreviewResize>wight</ItemImagePreviewResize>
  <ItemImagePreviewMaxWidth>250</ItemImagePreviewMaxWidth>
  <ItemImagePreviewMaxHeight>250</ItemImagePreviewMaxHeight>
  <!--  -->
  <ItemImageMedCrop>false</ItemImageMedCrop>
  <ItemImageMedResize>width</ItemImageMedResize>
  <ItemImageMedMaxWidth>500</ItemImageMedMaxWidth>
  <ItemImageMedMaxHeight>500</ItemImageMedMaxHeight>
  <!-- -->
  <ItemImageFullCrop>false</ItemImageFullCrop>
  <ItemImageFullResize>width</ItemImageFullResize>
  <ItemImageFullMaxWidth>800</ItemImageFullMaxWidth>
  <ItemImageFullMaxHeight>800</ItemImageFullMaxHeight>
  <!-- -->
  <SlideshowWidth>790</SlideshowWidth>
  <SlideshowHeight>300</SlideshowHeight>
  <!-- -->
  <BrandWidth>225</BrandWidth>
  <BrandHeight>80</BrandHeight>
  <!-- -->
  <AlbumImagePreviewWidth>300</AlbumImagePreviewWidth>
  <AlbumImagePreviewHeight>500</AlbumImagePreviewHeight>
  <!-- -->
  <AlbumImageMainWidth>600</AlbumImageMainWidth>
  <AlbumImageMainHeight>1000</AlbumImageMainHeight>
  <!-- -->
  <PromotionOrder>10</PromotionOrder>
  <!-- -->
  <ProductDepartmentWidth>180</ProductDepartmentWidth>
  <ProductDepartmentHeight>135</ProductDepartmentHeight>
  <!-- -->
  <ArticleCategoryWidth>180</ArticleCategoryWidth>
  <ArticleCategoryHeight>135</ArticleCategoryHeight>
  <!-- -->
  <ItemImageWatemark>False</ItemImageWatemark>
  <ItemImageWatemarkPath>~/Images/Watermark/watermark.png</ItemImageWatemarkPath>
  <Email>tiennq7804@gmail.com</Email>
  <UrlSuccess>http://tuanhangmobile.com/Default.aspx</UrlSuccess>
  <UrlCancel>http://tuanhangmobile.com/Error.aspx</UrlCancel>
  <FooterName>Điện hoa trực tuyến 24h</FooterName>
  <FooterAdd>Địa chỉ: 36/A9 Đồng Tâm - Lạy Tray - Ngô Quyền - Hải Phòng</FooterAdd>
  <FooterPhone>Hotline: 089.825.3302 - 089.825.3301</FooterPhone>
  <FooterEmail>Email: dienhoatructuyen24h@gmail.com</FooterEmail>
  <FooterWeb>Website: dienhoatructuyen24h.com</FooterWeb>
  <FooterFace>dienhoatructuyen24hBeanFlowers</FooterFace>
</zensoft>